img{
    background-size: 1800px;
    background-position: 700%;
    width:auto;
    height:400px;

}

body{
     font-family:impact, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
     font-size: large;
     color: rgb(149, 52, 52);
     background-color: rgb(43, 226, 198);
     font-weight: 100;
}